<!DOCTYPE html>
<html lang="en">

<head>
  <title>About</title>
  <link href="css/style.css" rel="stylesheet">
  <link href="img/weather.png" rel="icon">

</head>

<body>

  <div class="main-content">
    {{>header}}
    <img class="blade" src="public/img/1111.jpg">
  </div>

  {{>footer}}

</body>

</html>